* {
    margin: 0;
    padding: 0;
    background: black;
}
.logo {
    font-size: 30px;
    margin: 30vh auto 8vh auto;
    color:rgb(9, 68, 29) ; 
    letter-spacing: 5px;
    text-align: center;
}
.botao, a {
    width: 200px;
    height: 40px;
    background-color:rgb(9, 68, 29);
    border-radius: 5px;
    color:black; 
    font-size: 30px;
    margin: 20vh auto 20vh auto;
    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;
}