@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://i.pinimg.com/originals/f4/52/a2/f452a2f4b634b3011e065da8eaf0a5c3.gif");
}
img{
    margin: 5% 37% 5% 37%;
}
a {
    height: 50px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255) ;
    border: 5px solid rgb(77, 77, 250) ;
    border-radius: 10px;
    padding: 12px;
    margin: 0 auto 0 40%;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 10px;
    transition: 0.3s;
}
a:hover{
    border: 5px solid #191970 ;
    padding: 15px;
    font-size: 30px;
}
p{
    height: 50px;
    width: 500px;
    text-align: center;
    font-size: 25px;
    margin: 13% 37% 0 36%;
    color: rgb(128, 128, 128);
}