body{
    padding: 0;
    margin: 0;
    background-color: black;
}
#canvas {
    border: 2px solid rgb(11, 92, 25);
    display: block;
    margin: 200px auto 0 500px ;
    background-image: url("https://i.pinimg.com/originals/f4/52/a2/f452a2f4b634b3011e065da8eaf0a5c3.gif");
}

